<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome — Spotify Stats</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <h1>SPOTIFY STATS</h1>
  <p class="main">Take a look at the songs, artists and genres you listen to most in the medium term.</p>
  <div class="button-container">
    <a href="{{ auth_url }}"><button>Login with Spotify</button></a>
  </div>
  <p class="footer">Project coded by <a href="https://mesci.dev/" target="_blank">Yusuf Mescioğlu</a>, shout-out to <a href="https://twitter.com/juxtopposed" target="_blank">Juxtopposed</a> for login button.</p>
</body>
</html>
